@import "tailwindcss";

@font-face {
  font-family: "Satoshi_Bold";
  src: url("./assets/fonts/Satoshi-Bold.otf");
}
@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Regular.otf");
}
:root {
  --header-height: 85px;
}
body {
  background-color: #536dfe;
}
.satoshi {
  font-family: "Satoshi", sans-serif;
}
.satoshi_bold {
  font-family: "Satoshi_Bold", sans-serif;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
textarea::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 768px) {
  body {
    background-color: #EDF3FE;
  }
}